/*-----------------

    General
    
----------------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
}

li a:hover {
    background-color: purple;
}

.sb {
    margin-left: 450px;
    margin-bottom: 100px;
}

.footer1 {
    height: 50px;
    width: 100%;
}

.footer2 {
    height: 100px;
    width: 100%;
    background-color: purple;
}

h1 {
    font-family: 'Roboto Slab';
}

h2 {
    font-family: 'Roboto Slab';
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #E0E0E0;
}

.sb-type{
    margin-left: 450px;
    margin-bottom: 100px;
    align-content: center;
}

/*-----------------

    Header/ Nav bar

----------------*/
header {
    height: 100px;
    width: auto;
    background-color: purple;
}

.sb-icon {
    display: inline-block;
    position: relative;
    width: 150px;
}
.sb-icon img {
    position: absolute;
    display: block;
}

.sb-nav {
    text-align: center;
}

body {
    padding: 0;
    margin:0;
}


/*-----------------

    Box Frame
    
----------------*/
.box {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 1px rgb(0,0,0,0.5);
    padding: 5px;
    margin-left: 50px;
    display: inline-block;
}

/*-----------------

    Branding
    
----------------*/
.Logo img {
    height: 300px;
    width: 400px;
    border: solid 1px;
    border-color: black;
    border-radius: 10px;
}

.Icon img {
    height: 200px;
    width: 250px;
    border: solid 1px;
    border-color: black;
    border-radius: 10px;
}

.brand-label {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    margin-top: 4px;
    text-align: center;
}

/*-----------------

    Color
    
----------------*/
.classic-purple {
    height: 150px;
    width: 150px;
    border: solid 1px;
    border-color: black;
    border-radius: 10px;
    background-color: purple;
}



.white-background {
    height: 150px;
    width: 150px;
    border: solid 1px;
    border-color: black;
    border-radius: 10px;
    background-color: white;
}

.black-color {
    height: 150px;
    width: 150px;
    border: solid 1px;
    border-color: black;
    border-radius: 10px;
    background-color: #000000;
}
.orange-yellow{
    height: 150px;
    width: 150px;
    border: solid 1px;
    border-color: black;
    border-radius: 10px;
    background-color: #ffaa3b;
}

.color-labels {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    margin-top: 4px;
    text-align: center;
    width: 150px;
    height: auto;
}



/*-----------------

    Typography
    
----------------*/
.type-label-Roboto {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-size: 24pt;
    margin: auto;
}

.use-label-roboto {
    font-family: 'Roboto Slab';
}

.table-roboto {
    font-family: 'Roboto Slab';
}

.type-label-Open {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 24pt;
    margin: auto;
}

.use-label-open {
    font-family: 'Open Sans', sans-serif;
}

.table-open {
    font-family: 'Open Sans', sans-serif;
}


.type-box {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 1px rgb(0,0,0,0.5);
    padding: 5px;
    display: flex;
}

/*-----------------

    Layout
    
----------------*/
.layout-box {
    height: 200px;
    width: 200px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 1px rgb(0,0,0,0.5);
    padding: 5px;
    margin-left: 50px;
    display: inline-block;
}

.layout-header {
    width: 100%;
    height: 15%;
}

.layout-main {
    width: 100%;
    height: 85%;
    background-color: #E0E0E0;
}


/*-----------------

    Buttons
    
----------------*/
button {
    border: none;
    box-shadow: none;
    margin: 15px;
    border-radius: .25em;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    color: white;
    cursor: pointer;
    background-color: purple;
    padding: 5px;
}

.HoverButton:hover {
    background-color: #ffaa3b;
}


/*-----------------

    Text Forms
    
----------------*/
form {
    font-size: 14pt;
    font-family: 'Open Sans', sans-serif;
    margin: 15px;
}

input[type=text].normForm {
    border-color: purple;
    box-shadow: 0 0 6px rgba(111, 206, 114, 0.2);
  }

input[type=text].successForm {
    border-color: #6fce72;
    box-shadow: 0 0 6px rgba(111, 206, 114, 0.2);
}

input[type=text].alertForm {
    border-color: #e4655f;
    box-shadow: 0 0 6px rgba(228, 101, 95, 0.2);
}

select {
    border-color: purple;
    position: relative;
    margin-left: 15px;
    padding: 5px;
    cursor: pointer;
}