@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

/*-----------------

General Page
    
----------------*/
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/*-----------------

Header
    
----------------*/
.header {
  background-color: purple;
  display: flex;
  padding: 0px;
}

.headerImg {
  width: 150px;
  height: 100px;
  padding: 12px;
}
/*-----------------

Navigation bar
    
----------------*/
.navBar {
  background-color: purple;
}

.Nav_Div {
  display: flex;
  align-items: center;
}

.sideBar {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: purple;
  padding-top: 25px;
}

.Nav_Element {
  float: left;
}

.element_link {
  display: inline;
  text-align: center;
  padding-right: 5px;
  text-decoration: none;
  margin-right: 12px;
  border-radius: 5px;
  color: white;
}

.element_link:hover:not(.active) {
  background-color: #ffaa3b;
}

.active {
  background-color: aqua;
}

.sideBar2 {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding-top: 6px;
}

/*-----------------

Header Login 
    
----------------*/
.r {
  padding: 10px 0px 0px 350px;
  display: flex;
}

.login {
  /* padding: 20px; */
  width: 175px;
  height: 0px;
}

.loginButton {
  padding: 15px;
  margin-top: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.loginButton2 {
  background-color: blueviolet;
  padding: 15px;
  margin-top: 20px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

/*-----------------

Sign Up Page
    
----------------*/
.divide {
  height: 100%;
  width: 50%;
  position: fixed;
  overflow-x: hidden;
}

.droit {
  right: 0;
}

.gauche {
  left: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
}

.malik {
  width: 300px;
}

.signformDiv {
  width: 550px;
}

/*-----------------

Login
    
----------------*/

/*-----------------

Discussison
    
----------------*/
.discussionPage {
  width: 100%;
  justify-content: center;
}

.discussSubmit {
  width: 500px;
  background-color: purple;
  color: white;
  padding: 15px;
  margin-top: 12px;
  border: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.postlist {
  text-align: left;
  background: purple;
  color: white;
  border-radius: 20px;
  padding: 30px;
  margin: 10px;
  width: 60%;
  display: inline-flex;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.postbody {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.comments {
  background: white;
  width: 90%;
  display: block;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  color: black;
}

.commentlist {
  text-align: left;
  background: purple;
  color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  font-size: 12px;
  width: 90%;
  display: block;
}

.comment-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.comment-indicator {
  text-align: right;
  width: 100%;
  display: block;
  float: right;
  margin-top: 10px;
}

.comment-icon {
  width: 40px;
  height: 40px;
  float: right;
}

.comment-indicator-text {
  background-color: white;
  color: black;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  width: 120px;
  padding: 5px;
  float: right;
  margin-left: 10px;
  text-align: center;
}

/*-----------------

Profile Page
    
----------------*/
.profilePage:after {
  content: "";
  display: table;
  clear: both;
}

.profilePage {
  width: 100%;
}

.profileFormDiv {
  float: left;
  width: 50%;
  margin-top: 10%;
}

.profilePicture {
  float: left;
  width: 50%;
  margin-top: 5%;
}
.profileBox {
  height: 500px;
  width: 500px;
  display: block;
  margin-left: 100px;
}

.profileLabel {
  padding-top: 10px;
}

.profileButton {
  background-color: purple;
  padding: 15px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.profilePicture img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 2px solid;
  border-color: black;
}

.leftCol {
  width: 49%;
  float: left;
}

.rightCol {
  width: 49%;
  float: right;
}

.rightColFriendsList {
  width: 70%;
  float: right;
}

.viewProfileText {
  width: 100%;
  float: left;
  text-align: left;
  margin-left: 30px;
}

.leftCol1 {
  width: 15%;
  float: left;
  margin-left: 30px;
}

.leftColFriendsList {
  width: 30%;
  float: left;
}

.rightCol1 {
  width: 15%;
  float: right;
}

.centeredCol {
  display: flex;
  vertical-align: middle;
}

@media screen and (max-width: 700px) {
  .profileFormDiv {
    width: 100%;
    margin-top: 10%;
  }

  .profilePicture {
    width: 100%;
    margin-top: 5%;
  }

  .profileBox {
    height: 0x;
    width: 0px;
    display: block;
    margin-left: 0px;
  }
}

/*-----------------

Buddy Page
    
----------------*/
.firstcolumn {
  float: left;
  width: 34%;
  padding: 10px;
  /* height: 300px; /* Should be removed. Only for demonstration */
  background-color: purple;
  border-style: solid;
  min-height: 100%;
  margin: 100px 0 0;
  color: white;
}

.secondcolumn {
  min-height: 100%;
  float: left;
  width: 66%;
  padding: 10px;
  /* height: 300px; /* Should be removed. Only for demonstration */
  background-color: white;
  border-style: solid;
  margin: 100px 0 0;
}

.buddyPage {
  width: 100%;
  justify-content: center;
}

.buddyList {
  /* width: 100%; */
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  /* text-align: center; */
  overflow: hidden;
  align-content: center;
}

.buddyButtons {
  display: block;
  padding: 10px;
  margin-top: 30px;
  background-color: purple;
  color: white;
  width: 700px;
  height: 200px;
  border: 1px solid purple;
  border-radius: 50px;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
  cursor: pointer;
}

/*-----------------

General
    
----------------*/
input[type="text"],
select {
  width: 100%;
  padding: 15px;
  margin-top: 0px;
  display: inline-block;
  border: 1px solid purple;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type="password"],
select {
  width: 100%;
  padding: 15px;
  margin-top: 0px;
  display: inline-block;
  border: 1px solid purple;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 500px;
  background-color: purple;
  color: white;
  padding: 15px;
  margin-top: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ffaa3b;
}

input[type="button"]:hover {
  background-color: #ffaa3b;
}

.formDiv {
  padding: 50px 50px 0px 50px;
  width: 50;
}

.birthForm {
  padding: 10 20 0 0;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  padding: 50px;
  border-radius: 50%;
}

.avatarButton {
  background-color: purple;
  padding: 15px;
  margin-top: 20px;
  width: 200px;
  vertical-align: middle;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.timeInput {
  background-color: purple;
  font-size: 14px;
  width: 160px;
}

.friendImg {
  height: 80px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #e0e0e0;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.settings {
  width: 100%;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
  outline: none;
}

.link-button:hover,
.link-button:focus,
.link-button:active {
  text-decoration: none;
  outline: none;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.autocomplete input {
  width: calc(300px + 1rem);
}

.autocomplete {
  min-height: 165px;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);

  display: inline-block;
  position: relative;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.profileform label {
  display: block;
}

.App-link {
  color: #09d3ac;
}

.userlist {
  text-align: left;
  background: #7b1fa2;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  display: inline-flex;
}

.hide {
  display: none;
}

.maincontent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
}

.sidenav ul {
  list-style-type: none;
  padding: 10px;
  margin: 0px;
  margin-top: 40px;
}

.sidenav-icon {
  width: 40px;
  height: 40px;

  margin-bottom: 15px;
}

.hide {
  display: none;
}

/* The Modal (background) */
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 0; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 1px 10px 20px 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 200px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  line-height: 42px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.left {
  height: 100%;
  width: 30%;
  /* background-color: lightgray; */
  position: absolute;
  overflow-x: hidden;
  left: 0;
  text-align: center;
}

.right {
  height: 100%;
  width: 70%;
  /* background-color: grey; */
  position: absolute;
  overflow-x: hidden;
  right: 0;
  border-left: solid;
}
